@use 'helpers' as *;

:root {
	--color-font: #FFFFFF;
	--playground-font: 'Arial', sans-serif;
	
	--color-accent: #c676f4;
	--color-light: #f3e5e5;
	--color-playground: #ebb3f4;
	
	--background-gradient: linear-gradient(125.574deg, #f3d7ee 0%, #e7a4f4 100%) no-repeat;
	
	--shadow: 4px 4px 6.3px 0px rgba(0, 0, 0, 0.25);
	
	--container-width: #{rem(1110)};
	--container-padding-x: #{rem(0)};
	
	--transition: 0.2s ease;
}
