@use '/src/styles/helpers' as *;

.playground {
	font-family: 'Arial', sans-serif;
	font-size: rem(128);
	display: grid;
	grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
	grid-gap: rem(16);
	max-width: rem(500);
	max-height: rem(500);
	width: 100%;
	height: 100%;
	background-color: var(--color-playground);
	border-radius: rem(16);
	
	@include mobile {
		max-width: rem(450);
		max-height: rem(450);
	}
	
	@include mobile-s {
		font-size: rem(96);
		grid-gap: rem(10);
		max-width: rem(320);
		max-height: rem(320);
	}
	
	&__cell {
		color: var(--color-accent);
		background-color: var(--color-light);
		border-radius: rem(16);
		border: none;
		padding: 0;
		box-shadow: var(--shadow);
		user-select: none;
		transition: var(--transition);
		
		&:hover {
			transform: scale(1.05);
		}
	}
}
